/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  :root {
    --coconut: rgb(235,236,247);
    --silver: rgb(235,236,245);
    --lavendar: rgb(174,177,215);
    --violet: rgb(113,119,186);
    --mid-blue:  rgb(52,60,156);
    --dark-blue: rgb(36,42,109);
    --darker-blue: rgb(26,30,78);
    --night: rgb(8,8,24);
    --cream: rgb(253,248,237);
    --noodles: rgb(249,227,182);
    --straw: rgb(244,206,127);
    --gold: rgb(239,185,72);
  }

/* Font: Star Wars Kit[Font]
"https://www.fontspace.com/star-wars-kit-font-f33062"
Accessed 29/11/23 */
  @font-face {
    font-family: "Star-Wars-Kit";
    src: url("./fonts/StarwarsKit.ttf");
  }
  
  /* Font: D Poly Imperial[Font]
"https://www.fontspace.com/dpoly-imperial-font-f218702"
Accessed 29/11/23 */
@font-face {
    font-family: "D-Poly";
    src: url("./fonts/DpolyImperial.ttf");
  }
    /* Font: Mandalorian[Font]
"https://www.fontspace.com/mandalorian-font-f14708"
Accessed 29/11/23 */
@font-face {
    font-family: "Mandalorian";
    src: url("./fonts/Mandalorian.ttf");
  }
      /* Font: Star Killer[Font]
"https://www.fontspace.com/starkiller-font-f35874"
Accessed 29/11/23 */
@font-face {
    font-family: "Star-Killer";
    src: url("./fonts/Starkiller.ttf");
  }
@font-face {
    font-family: "Star-Killer-Outline";
    src: url("./fonts/StarkillerOutline.ttf");
  }
  @font-face {
    font-family: "Star-Killer-Italic";
    src: url("./fonts/StarkillerItalic.ttf");
  }
  @font-face {
    font-family: "Star-Killer--Outline-Italic";
    src: url("./fonts/StarkillerOutlineItalic.ttf");
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
  }

  .navbar__list {
    list-style: none;
    display: flex;
  }

  .navbar-light {
    background-color: var(--silver);
    font-family: "Star-Killer";
  }

 .navbar__list li {
    margin: 0;
    padding: 0;
  }

 .navbar__list li+li {
    margin-left: 2rem;
  }

 .navbar__list a {
    text-decoration: none;
    color: var(--dark-blue);
  }

  .page {
    background-image: url("./images/space.png");
  }

  .page__heading {
    font-family: "Star-Killer-Outline";
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .page__heading--dark {
    color: var(--dark-blue);
  }

  .page__heading--light {
    color: var(--silver);
  }

  .page__container {
    margin : 2%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
  }

  .planet {
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./images/planet.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 100%;
  }

/* Block - Structure */
  .card {
    padding: 5%;
    margin: 5%;
    box-shadow: 5px 5px 8px var(--mid-blue), 10px 10px 8px var(--lavendar), 15px 15px 8px var(--gold);
  }

  .card:nth-child(1){
    rotate: 5deg;
  }
  .card:nth-child(2) {
    rotate: -8deg;
  }
  .card:nth-child(3){
    rotate: -8deg;
  }
  .card:nth-child(4) {
    rotate: 5deg;
  }
/* Block - Skins */
  .card-darker-blue {
    background-color: var(--darker-blue);
    color: var(--cream);
  }

  .card-gold {
    background-color: var(--gold);
    color: var(--night);
  }

  .card-noodles {
    background-color: var(--noodles);
    color: var(--darker-blue);
  }

  .card-coconut {
    background-color: var(--coconut);
    color: var(--mid-blue);
  }

/*Element - Stucture*/
  .card__image {
    margin: 3% auto;
    border: 5px solid;
    border-radius: 15%;
  }

/*Element - Skins*/
.card__image-cream {
    border-color: var(--cream);
}
.card__image-gold {
    border-color: var(--gold);
}
.card__image-violet {
    border-color: var(--violet);
}
.card__image-blue {
    border-color: var(--mid-blue);
}
